#clockContainer{
    position: relative;
    margin: auto;
    height: 440px;
    width: 440px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 0.8%;
    height: 8%;
    background-color: blueviolet;
    top: 42%;
    left: 49.6%;
    /* display: none; */
}
#minute{
    width: 0.5%;
    height: 12%;
    top: 38%;
    left: 49.7%;
    background-color: black;
    /* display: none; */
}
#second{
    width: 0.5%;
    height: 19%;
    top: 31%;
    left: 49.7%;
    background-color: red;
    /* display: none; */
}